html{
    font-family: Arial, Helvetica;
}

.button{
    color: white;
    background-color: #37392E;
    border: none;
    cursor: pointer;
    outline: none;
}

.overflow-control{
    overflow-x: hidden;
}

.main-container{
    white-space: nowrap;
    position: relative;
    left: -300px;
    transition: left 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-container.open{
    left: 0px;
} 

.main-container *{
    white-space: normal;
}

.main-container .content, .main-container .lateral-menu{
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
    height: 100vh;
}

.main-container .lateral-menu{
    width: 300px;
    background-color: #37392E;
    color: white;
    text-align: center;
}

.main-container .lateral-menu li{
    font-size: 2em;
    padding: 8px 15px;
    list-style-type: none;
    border-bottom: 1px solid white;
}

.main-container .content{
    overflow-y: scroll;
}

.main-container .content{
    width: 100%;
}

.hero-image{
    height: 75vh;
    background: url('../image/background.png');
    background-size: cover;
    background-position: center;
    padding: 2em;
    color: white;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2em;
}

.hero-image h1{
    font-size: 3em;
    margin:0;
    text-shadow: 0px 0px 4px #000;
}

.hero-image p{
    font-size: 1.5em;
    text-shadow: 0px 0px 2px #000;
}
.nav{
    background-color: #37392E;
    color: white;
    width: 100%;
    padding: 1em;
}

.nav li{
    display: inline-block;
    margin-right: 2em;
}

.nav .button-nav{
    display: inline-block;
    vertical-align: middle;
}